h1 {
  color: #f2f2f2;
  background: #7b38d8;
  font-size: 75px;
  line-height: 74px;
  font-weight: 700;
  margin: 0 5px 24px;
  float: left;
  padding: 30px;
  margin-top: 20%;
  margin-left: 33%;
  font-family: 'Libre Baskerville', serif;
}
