.container {
	max-width: 2000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table {
	width:100%;
  margin-left: 100px;
  margin-right: 100px;
	border:1px solid #7b38d8;
}

.table-header {
	display:flex;
	width:100%;
	background:#7b38d8;
	padding:15px 0 15px 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:10px 0 10px 0;
}

.table-row:nth-of-type(odd) {
  background: white;
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

.delete-entry:hover {
  color: #7b38d8;
  cursor: pointer;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:24px;
	padding-right:24px;

	&::after {
		content:'';
		position:absolute;
		right:-(12 * 1.5);
		color:white;
		font-size:12;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}

}
