.container {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 100px;
  position: relative;
}
